.s-contacts
  padding-top: 100px
  background-image: url('../img/bg-contacts.png')
  +bg-cover
  background-position: top center
  background-size: 100% calc(100% - 510px)
  position: relative
  z-index: 2

#map
  height: 510px
  position: relative
  top: -35px
  background-color: #ccc

.contacts-wrap
  display: flex
  justify-content: space-between
  align-items: center

.contacts-block
  background-color: #fff
  width: 555px
  border-radius: 7px
  box-shadow: 0 0 20px 5px rgba(#000, .1)
  padding: 80px 70px 100px
  position: relative
  z-index: 3

.contact-item
  display: flex
  justify-content: space-between
  align-items: flex-start
  margin-bottom: 65px
  font-size: 20px
  line-height: 1
  &:last-child
    margin-bottom: 0
  .svg
    fill: $accent-orange
    width: 22px
    height: auto
  &-desc
    width: calc(100% - 40px)
    a
      display: inline-block
  &.phone
    align-items: center
    a
      font-size: 36px
      font-weight: 700
      color: $text
      margin-bottom: 8px
      &:hover
        color: $accent-blue
  &.email
    a
      text-decoration: underline
      color: $text
      &:hover
        text-decoration: none
  &.address
    line-height: 1.2

  a.sublink
    font-size: 16px!important
    color: $accent-blue
    text-decoration: underline
    display: inline-block
    font-weight: normal
    margin-bottom: 0
    &:hover
      text-decoration: none


form
  color: #fff
  text-align: center
  h2
    font-size: 32px
    margin-bottom: 5px
  .form-desc
    font-size: 24px
    margin-bottom: 30px
  label
    display: block
    text-align: left
    margin-bottom: 18px
  input
    width: 100%
    line-height: 1
    font-size: 20px
    color: #fff
    padding: 14px 36px
    border: 1px solid #aeaeae
    border-radius: 3px
    background-color: transparent
    &::placeholder
      color: #aeaeae
    &:focus
      border-color: $accent-orange
      &::placeholder
        color: #fff
    &.error
      border-color: red!important
      color: red!important
      &::placeholder
        color: red!important
  .btn
    margin-top: 20px
    padding: 17px 20px
    width: 200px
  .help-block
    display: none

.section-form
  width: 486px
  padding-right: 30px
  margin-bottom: 35px

.popup-form
  display: block
  max-width: 550px
  margin-left: auto
  margin-right: auto
  background-color: $accent-blue
  border-radius: 10px
  padding: 30px 40px
  .form-labels-wrap
    padding: 0 40px

#product-form
  .form-desc
    span
      white-space: nowrap
      font-weight: 700

#order-form
  h2
    margin-bottom: 30px
    span
      white-space: nowrap




.ymaps-2-1-76-balloon__content
  background: $accent-orange!important
  padding: 14px 14px 14px 55px!important
  background-image: url('../img/icons/baloon-icon.png')!important
  background-repeat: no-repeat!important
  background-size: 33px 30px!important
  background-position: 12px 14px!important
  font-size: 12px!important
  font-family: "ProximaNova", sans-serif!important
  border-radius: 7px!important

.ymaps-2-1-76-balloon
  box-shadow: none!important
  border-radius: 7px!important

.ymaps-2-1-76-balloon__tail:after
  background: $accent-orange!important
  box-shadow: none!important

.ymaps-2-1-76-balloon__tail
  box-shadow: none!important

.baloon-addr
  width: 165px!important
  display: block
  line-height: 1.3