.s-intro
  background-image: url('../img/bg-intro.jpg')
  height: 1050px
  background-repeat: no-repeat
  background-position: center center
  background-color: #1a739f
  background-size: cover
  position: relative
  &.sticky
    padding-top: 164px
    .main-head
      background-color: $accent-blue
      position: fixed
      left: 0
      top: 0
      width: 100%
      z-index: 1000
      box-shadow: 0 0 5px 2px rgba(#000, .2)
      .logo
        width: 138px
        img
          width: 65px
      .top-line
        padding: 5px 0
      .main-mnu, .socials, .head-contacts, .hamburger
        margin-bottom: 0
      .hamburger
        top: 5px
        position: relative

.intro-content
  margin-top: 175px
  max-width: 650px
  color: #fff
  h1
    font-size: 42px
    line-height: 1
    font-family: "Circle", sans-serif
    font-weight: 700
    margin-bottom: 15px
  p
    font-size: 24px
    font-weight: 300
    margin-bottom: 40px
  .btn
    font-size: 16px
    padding: 16px 50px

.intro-img
  position: absolute
  z-index: 2
  right: 4%
  bottom: 204px